<div id="magasins">
    <div id="headBanner">
        <img src="/images/photos/store-banner-03.jpg" alt="">
    </div>

    <div class="container">

        <h1>{{title}}</h1>

        <cite>Make it happen</cite>

        <div class="row">
            {{#each magasins as |magasin|}}
                <div class="col-md-4">
                    <div>
                        <a href="/magasin/{{magasin.slug}}">
                            <img src="/uploads/{{magasin.img}}" alt="{{magasin.desc}}">
                            <h2>{{magasin.name}}</h2>
                            <div></div>
                            <p>{{magasin.desc}}</p>
                            <button>Read more</button>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</div>