<div class="single">
    <div>
        <a href="/magasins/{{magasin._id}}/edit">EDIT MAGOSH</a>
        <br />
        <a href="/magasins/{{magasin._id}}/delete">DELETE MAGOSH</a>
    </div>
    <div class="single__hero">
        <img class="single__image" src="/uploads/{{magasin.img}}" alt="">
        <h2 class="title title--single">{{magasin.name}}</h2>
    </div>
    <div class="single__details__map inner">
        <img class="single__map" src="{{static-map magasin.location.coordinates}}" alt="">
        <p class="single__location">{{magasin.desc}}</p>
    </div>
</div>
